.crop-img {
    object-fit: cover;
  }
  
  .tim-img {
    width: 250px;
    border: 10px solid #cccccc;
  }
  
  * {
    font-family: "Poppins", sans-serif;
  }
  
  /* navbar */
  nav {
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-nav a:hover {
    color: rgb(188, 9, 9);
  }
  .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(188, 9, 9);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  
  
  /* Jumbotron */
  .carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .carousel-item img {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /*Teks sambutan  */
  #teks-sambutan {
    text-align: justify;
    font-family: "Poppins", sans-serif;
  }
  
  #border {
    border-radius: 10px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Kegiatan */
  .card-body .card-text {
    text-align: justify;
    margin: 1rem 0;
  }
  
  /* kontak */
  .location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
    margin-top: 2rem;
  }
  
  .location iframe {
    width: 100%;
  }
  
  .contact-us {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .contact-col div .fa {
    font-size: 28px;
    color: #212529;
    margin: 10px;
    margin-right: 30px;
  }
  
  .contact-col div p {
    padding: 0;
  }
  
  .contact-col div h5 {
    font-size: 15px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
  }

  /* visi-misi */

  .brown-container {
    background-color:rgb(248, 248, 248);
    padding: 2%;
    font-size: 15px;  
}

.text-container-mini-mt100px {
    padding-top: 10px;
}

.inner-brown-container {
    color: rgb(22, 22, 22);
    text-align: justify;
    padding: 10px;
    display: flex;
}

.brown-container-header {
    color: rgb(0, 0, 0);
    margin-bottom: -0.5px;
    padding: 5px;
}

.brown-container a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}